.imgPizzeria {
  object-fit: fill;
  width: 100%;
  height: 550px;
  box-shadow: -2px 4px 40px 0px rgba(84,77,77,0.75);
-webkit-box-shadow: -2px 4px 40px 0px rgba(84,77,77,0.75);
-moz-box-shadow: -2px 4px 40px 0px rgba(84,77,77,0.75);
}
.divPizzeria {
  width: 100%;
  
}

.second-part {
  padding-top: 2%;
}
.productoSection{
  padding-top: 2%;
  padding-right: 1%;
}